<p id="Notificación:"><%= notice %></p>

<h1>Turnos</h1>

<% if current_user %>
  <%= link_to "Ofrecer nuevo turno", new_turno_path %>

  <table align='center'>
    <tr>
      <thead>
        <th>Descripcion</th>
        <th>Direccion salida</th>
        <th>Destino</th>
        <th>Fecha salida</th>
        <th>Hora salida</th>
        <th>Numero personas</th>
        <th>Vacantes libres</th>
        <th colspan="3"></th>
      </thead>
    </tr>

    <tr>
      <% @turnos.each do |turno| %>
    <tr>
      <td><%= turno.descripcion %></td>
      <td><%= turno.direccion_salida %></td>
      <td><%= turno.destino %></td>
      <td><%= turno.fecha_salida %></td>
      <td><%= turno.hora_salida %></td>
      <td><%= turno.numero_personas %></td>
      <td><%= turno.vacantes_libres %></td>
      <td><%= link_to 'Show', turno %></td>
      <td><%= link_to 'Edit', edit_turno_path(turno) %></td>
      <td><%= link_to 'Destroy', turno, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
      <% end %>
    </tbody>
  </table>

  <br>

<% else %>
  <h2> Necesitas iniciar sesión para interactuar con los turnos <h2>

  <table align='center'>
    <thead>
      <tr>
        <th>Descripcion</th>
        <th>Direccion salida</th>
        <th>Destino</th>
        <th>Fecha salida</th>
        <th>Hora salida</th>
      </tr>
    </thead>

    <tbody>
      <% @turnos.each do |turno| %>
        <tr>
          <td><%= turno.descripcion %></td>
          <td><%= turno.direccion_salida %></td>
          <td><%= turno.destino %></td>
          <td><%= turno.fecha_salida %></td>
          <td><%= turno.hora_salida %></td>
          <td><%= link_to 'Show', turno %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

<% end %>